{% extends 'navbar.html' %}
{% block title_block %} {{ title }}{% endblock %}
{% block style_block %}
<style>
    .resize {
    width: auto;
    height: 400px;
    }
.back-up {
    border: 2px solid rgba(255,255,255,0.1);
    border-radius:20px;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    }
</style>
{% endblock %}

{% block body_block %}
{% if search %}
    {% for user in search_users %}
    <div class="row">
        <div class="col-sm-2">
            {% if user.user_profile.profile_pic %} <!-- under related_name.check profile pic exist or not -->
            <img src="/media/{{user.user_profile.profile_pic}}" width="40px" height="30px" class="rounded-circle" alt="profile">
            {% else %}
            <img src="/media/profile_pics/avatar.png" width="30px" height="30px" class="rounded-circle" alt="profile" >
            {% endif %}
        </div>
        <div class="col-sm-10">
            <a href="{% url 'App_Login:other_user' user.pk %}">{{ user.username}}</a>
            <br>
            {{ user.user_profile.full_name}} <!---search match-->
        </div>
    </div>
    <br>
    {% endfor %}
{% else %}
    <div class="row">
        <div class="col-sm-8">
            {% for post in all_post %}
            <div class="back-up">
                <div style="padding:10px">
                    {% if post.user_post.user_profile.profile_pic %}
                <p><img src="/media/{{ post.user_post.user_profile.profile_pic }}" alt={{ post.user_post }} height="40px" width="40px" class="rounded-circle">
                &nbsp; &nbsp; <a href={% url 'App_Login:user_profile' %}>{{ post.user_post }}</a></p>
                <strong>{{ post.caption }}</strong>
                {% else %}
                <p><img src="/media/profile_pics/avatar.png" alt={{ post.user_post }} height="40px" width="40px" class="rounded-circle">
                &nbsp; &nbsp; <a href={% url 'App_Login:user_profile' %}>{{ post.user_post }}</a></p>
                <strong>{{ post.caption }}</strong>
                {% endif %}
                </div>
            <br>
            <img src="/media/{{ post.image }}" alt={{ post.caption }} title={{ post.caption }} width="100%" height="400px">
            <div style="padding:20px">
                {% if post.pk in like_post_list %}
                <a href={% url 'App_Post:unlike' post.pk %}><i class="fa-solid fa-heart fa-2x"></i></a>
            {% else %}
                <a href={% url 'App_Post:like' post.pk %}><i class="fa-regular fa-heart fa-2x"></i></a>
            {% endif %}
            </div>
        </div>
            <br>
            <br>
            {% endfor %}
        </div>
        <div class="col-sm-4">
            <div class="row back-up">
                <div class="col-sm-3" style="padding:10px">
                    {% if user.user_profile.profile_pic %}
                    <img src="/media/{{ user.user_profile.profile_pic }}" alt="" height="50px" width="50px" class="rounded-circle">
                    {% else %}
                      <img src="/media/profile_pics/avatar.png" alt="" height="50px" width="50px" class="rounded-circle">
                    {% endif %}
                </div>
                <div class="col-sm-9" style="padding:10px;">
                    <strong>{{ user.username }}</strong>
                    <p>{{ user.user_profile.f_name }} {{ user.user_profile.l_name }}</p>
                    <i>{{ user.user_profile.about }}</i>
                </div>
            </div>
            <center>
            </center>
        </div>
    {% endif %}
{% endblock %}
